@layer atoms {
  .mox-atom-container-grid {
    --mox-container-grid-total-columns: 4;
    --mox-container-grid-columns-half: 4;
    --mox-container-grid-columns-third: 4;
    --mox-container-grid-columns-quarter: 2;
    --mox-container-grid-columns-sixth: 2;

    display: grid;
    inline-size: 100%;

    gap: var(--mox-layout-container-grid-gap);
  }

  @container (min-width: 400px) {
    .mox-atom-container-grid {
      --mox-container-grid-total-columns: 6;
      --mox-container-grid-columns-half: 6;
      --mox-container-grid-columns-third: 3;
      --mox-container-grid-columns-quarter: 3;
      --mox-container-grid-columns-sixth: 2;

      gap: var(--mox-layout-container-grid-gap-400px);
    }
  }

  @container (min-width: 600px) {
    .mox-atom-container-grid {
      --mox-container-grid-total-columns: 8;
      --mox-container-grid-columns-half: 4;
      --mox-container-grid-columns-third: 4;
      --mox-container-grid-columns-quarter: 2;
      --mox-container-grid-columns-sixth: 2;

      gap: var(--mox-layout-container-grid-gap-600px);
    }
  }

  @container (min-width: 800px) {
    .mox-atom-container-grid {
      --mox-container-grid-total-columns: 12;
      --mox-container-grid-columns-half: 6;
      --mox-container-grid-columns-third: 4;
      --mox-container-grid-columns-quarter: 3;
      --mox-container-grid-columns-sixth: 2;

      gap: var(--mox-layout-container-grid-gap-800px);
    }
  }
}
