@layer atoms {
  .mox-atom-page-grid {
    --mox-page-grid-column: page;

    container-type: inline-size; /* enable container queries for children */

    gap: var(--mox-layout-page-grid-gap);
    inline-size: 100dvi;

    display: grid;
    grid-template-columns:
      [window-start]
      max(
        0px,
        calc((100dvi - var(--mox-layout-page-grid-max-width, 1200px)) / 2)
      )
      [page-start]
      minmax(0, 1fr)
      minmax(0, 1fr)
      [middle]
      minmax(0, 1fr)
      minmax(0, 1fr)
      [page-end]
      max(
        0px,
        calc((100dvi - var(--mox-layout-page-grid-max-width, 1200px)) / 2)
      )
      [window-end];
  }

  /* See mobile/tablet/desktop definitions in mox.config.ts */
  @media screen and (min-width: 900px) {
    .mox-atom-page-grid {
      column-gap: var(--mox-layout-page-grid-gap-tablet);

      grid-template-columns:
        [window-start]
        max(
          0px,
          calc((100dvi - var(--mox-layout-page-grid-max-width, 1200px)) / 2)
        )
        [page-start]
        minmax(0, 1fr)
        minmax(0, 1fr)
        minmax(0, 1fr)
        minmax(0, 1fr)
        [middle]
        minmax(0, 1fr)
        minmax(0, 1fr)
        minmax(0, 1fr)
        minmax(0, 1fr)
        [page-end]
        max(
          0px,
          calc((100dvi - var(--mox-layout-page-grid-max-width, 1200px)) / 2)
        )
        [window-end];
    }
  }

  @media screen and (min-width: 1200px) {
    .mox-atom-page-grid {
      column-gap: var(--mox-layout-page-grid-gap-desktop);

      grid-template-columns:
        [window-start]
        max(
          0px,
          calc((100dvi - var(--mox-layout-page-grid-max-width, 1200px)) / 2)
        )
        [page-start]
        minmax(0, 1fr)
        minmax(0, 1fr)
        minmax(0, 1fr)
        minmax(0, 1fr)
        minmax(0, 1fr)
        minmax(0, 1fr)
        [middle]
        minmax(0, 1fr)
        minmax(0, 1fr)
        minmax(0, 1fr)
        minmax(0, 1fr)
        minmax(0, 1fr)
        minmax(0, 1fr)
        [page-end]
        max(
          0px,
          calc((100dvi - var(--mox-layout-page-grid-max-width, 1200px)) / 2)
        )
        [window-end];
    }
  }

  /* TODO: indien page-grid binnen een page-grid: niet meer de 'window' zijkanten, maar terugvallen op default 12-col grid? */

  .mox-atom-page-grid > * {
    grid-column: var(--mox-page-grid-column);
  }
}
