.mox-input-checkbox {
  appearance: none;
  border: 1px solid var(--mox-input-option-border-color);
  border-radius: var(--mox-input-checkbox-radius);
  width: 1.25rem;
  height: 1.25rem;
  margin: 0;
  padding: 0;
  outline: none;
  cursor: pointer;

  &:checked {
    background-color: var(--mox-primary-color);
    border-color: var(--mox-primary-color);
  }

  &:focus {
    outline: 2px solid orange;
    /* box-shadow: 0 0 0 2px var(--mox-primary-color); */
  }

  &:checked::after {
    content: "";
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    margin: 0.25rem;
    background-color: white; /* primary-contrast var */
    clip-path: polygon(14% 44%, 0% 29%, 29% 0%, 100% 71%, 71% 100%, 43% 71%);
    opacity: 0;
  }
}
